
.formm{
    margin-left: 220px;
    margin-top: 20px;
    width: 800px;
    line-height: 45px;
    font-size: 25px;
}


.form_input{
    padding: 10px;
    width: 720px;
}

.input_submit{
    width: 150px;
}